.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    max-width: 150px; /* Adjust the max-width as needed */
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 20px;
  }
  
  .footer-section p, .footer-section ul, .footer-section a {
    color: #bbb;
    text-decoration: none;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 10px 0;
  }
  
  .footer-section .social-links {
    display: flex;
    justify-content: center;
  }
  
  .footer-section .social-links a {
    color: #bbb;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer-section .social-links a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding: 20px 0;
  }
  